[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "scPipeline"]
	path = scPipeline
	url = https://github.com/sridhara-omics/scpipeline
